<form #tipForm="ngForm" (ngSubmit)="calculateTip()" >
<div class="input-form">
  <mat-form-field appearance="fill">
    <mat-label>Cost of Service</mat-label>
    <input matInput type="number" [(ngModel)]="costOfService" name="costOfService" required>
  </mat-form-field>

  <mat-radio-group [(ngModel)]="serviceQuality" aria-label="Select service quality">
    <mat-radio-button value="0.15">Okay - 15%</mat-radio-button>
    <mat-radio-button value="0.18">Good - 18%</mat-radio-button>
    <mat-radio-button value="0.20">Excellent - 20%</mat-radio-button>
  </mat-radio-group>

  <mat-checkbox [(ngModel)]="roundUpTip">Round up tip</mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="!tipForm.valid">Calculate Tip</button>
</div>
</form>
